<%- include('./partials/header') %>

<main>
    <div class="cards">
        <% for(const element of pokemon) { %>
        <div class="card">
            <a href="/detail/<%= element.numero %>">
            <img src="img/<%= element.numero %>.png" alt="<%= element.nom %>">
            #<%= element.numero %> <%= element.nom %>
            </a>
        </div>
        <% } %>
    </div>
</main>

<%- include('./partials/footer') %>