<%- include('./partials/header') %>

<main>
    <div class="cards">
        <% for(const element of pokemon) { %>
        <div class="card">
            <a class="name-link" href="/detail/<%= element.numero %>">
            <img src="img/<%= element.numero %>.png" alt="<%= element.nom %>">
            <span class="Pokemon-ref">#<%= element.numero %> <%= element.nom %></span>
            </a>
        </div>
        <% } %>
    </div>
</main>

<%- include('./partials/footer') %>